<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Oblique</title>
      <link rel="icon" href="logo.png">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <div class="header">
         <img class="img-logo" src="logo.png" alt="logo">
         <nav class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
         </nav>
      </div>
      <div class="content">
         <div class="content-text">
            <h1>Logic is predictable</h1>
            <h1>Think differently</h1>
            <p>Think outside the boxm create unique from the ordinary</p>
            <a href="#" class="btn-explore">Explore</a>
         </div>
         <div class="content-img">
            <img src="content.png" alt="content" class="img-content">
         </div>
      </div>
      <div class="icon">
            <ul class="icon-list">
               <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
      </div>
      <div class="scrool">
         <div>
            <p>Scrool Down</p>
         </div>
      </div>
   </body>
</html>